
  <% if params[:controller] == 'about' %>
   <div class="well">
    	<h3> Location Info</h3>
    	<ul>
    		 <li> The BookStore</li>
    		 <li> 499 Massachunsetts Ave, unit 2</li>
    		 <li> Boston, MA 02110</li>
    		 <li> phone: (617) 555-5555</li>
    		 <li> Email: support@thebook.com</li>
    	</ul>
    </div>
<% end %>
<% if params[:controller] == 'books' &&  params[:action]=='index' || params[:action] == 'show' %>
   <ul class="list-group">
    <li class="list-group-item">Electrical Engineering</li>
    <li class="list-group-item">Information Technology</li>
    <li class="list-group-item">Computer Engineering</li>
   </ul>
<% end %>
