<h1><%= @page_title %></h1>
<p>In a circle around; all round; on every side of; on the outside of. [First attested prior to 1150.][2] quotations ▼
Near; not far from; approximately; regarding time, size, quantity. [First attested prior to 1150.][2] quotations ▼
On the point or verge of. quotations ▼

    the show is about to start;  I am not about to admit to your crime 

On one's person; nearby the person. [First attested around (1150 to 1350.)][2] quotations ▼
Over or upon different parts of; through or over in various directions; here and there in; to and fro in; throughout. [First attested around (1150 to 1350.)][2] quotations ▼
Concerned with; engaged in; intent on. [First attested around (1150 to 1350.)][2] quotations ▼
Concerning; with regard to; on account of; on the subject of; to affect. [First attested around (1150 to 1350.)][2] quotations ▼

    He knew more about what was occurring than anyone. 

(figuratively) In or near, as in mental faculties or (literally) in possession of; in control of; at one's command; in one's makeup. [First attested around (1350 to 1470.)][2] quotations ▼

    He has his wits about him. </p>

    <div class="well">
    	<h3> Location Info</h3>
    	<ul>
    		 <li> The BookStore</li>
    		 <li> 499 Massachunsetts Ave, unit 2</li>
    		 <li> Boston, MA 02110</li>
    		 <li> phone: (617) 555-5555</li>
    		 <li> Email: support@thebook.com</li>
    	</ul>
    </div>